#start {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .home__image {
    display: block;
    position: absolute;
    top: -160px;
    left: 0;
    max-width: 50%;
    height: 120%;
    z-index: -1;
    @media only screen and (max-width: 1300px) {
      max-width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .start__container--right {
    padding-top: 210px;
    display: flex;
    flex-direction: column;

    .button__container {
      margin-top: 65px;
      width: 100%;
      height: 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 50px;
    }

    @media only screen and (max-width: 1300px) {
      width: 100%;
      background: rgba(255, 255, 255, 0.83);
    }
    @media only screen and (max-width: 767px) {
      padding-top: 10px;
      .button__container {
        flex-direction: column;
        row-gap: 30px;
        height: auto;
        margin-bottom: 30px;
        align-items: center;
      }
    }
  }
}

#threeColumns {
  background: transparent url('../../assets/3 Columns Background.png') 0% 0% repeat padding-box;
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 46px;
  padding-bottom: 86px;

  .column__container {
    display: flex;
    flex-direction: column;
    max-width: 334px;
    column-gap: 50px;

    span {
      &:first-child {
        text-align: center;
        font: normal normal 300 90px/122px $font-base;
        letter-spacing: 0;
        color: $color-2;
        opacity: 1;
      }

      &:nth-child(2) {
        text-align: center;
        font: normal normal normal 18px/30px $font-base;
        letter-spacing: -0.36px;
        color: $color-5;
        opacity: 1;
        margin-top: 10px;
        margin-bottom: 28px;
      }

      &:last-child {
        text-align: center;
        font: normal normal 300 16px/18px $font-alt;
        letter-spacing: -0.32px;
        color: $color-5;
        opacity: 1;
        margin: 0 16px;
      }
    }

  }

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;

    .column__container {
      width: 100%;
    }
  }
}

#simpleSteps {
  display: flex;
  flex-direction: column;
  //row-gap: 30px;
  align-items: center;
  width: 100%;


  .box {
    margin-top: 34px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: $color-1;
    padding: 71px 20% 75px 20%;
    column-gap: 10%;
    margin-bottom: 35px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;

      text-align: center;
      opacity: 1;
      letter-spacing: 0;
      color: $color-5;

      img {
        width: 83px;
        height: 83px;
      }

      .subtitle {
        font: normal normal normal 18px/24px $font-base;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: 110%;
          left: 50%;
          width: 70px;
          height: 2px;
          background: #707070;
          transform: translateX(-50%);
        }
      }

      .description {
        font: normal normal normal 16px/16px $font-base;
      }

    }

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      div {
        margin-bottom: 30px;
      }

    }
  }
}

#aboutUs {
  background: $color-1;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

  .img__container {
    min-width: 50%;
    min-height: 850px;
    position: relative;
    overflow: hidden;
    display: block;

    .img--people {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 100%;
    }
    @media only screen and (max-width: 1200px) {
      display: none;
    }
    }


  .container--left {
    display: flex;
    flex-direction: column;
    padding: 10px 10%;
    justify-content: center;
    align-items: center;


    .text {
      margin-top: 55px;
      margin-bottom: 40px;
      text-align: center;
      font: normal normal normal 30px/54px $font-base;
      letter-spacing: -0.6px;
      color: $color-5;
      opacity: 1;
    }

    .img--sign {
      align-self: flex-end;
      width: 209px;
    }
  }
}