@import "./normalize.css";
@import "./settings/colors";
@import "./settings/fonts";

@import "components/navigation";
@import "components/home";

@import "components/common/buttons";
@import "components/common/decorations";

* {
  box-sizing: border-box;
}

.page__container {
  position: relative;
  border: black solid 1px;
}

.section__title {
  text-align: center;
  font: normal normal normal 38px/55px $font-base;
  letter-spacing: -0.76px;
  color: $color-5;
  opacity: 1;
  margin-bottom: 25px;
}

.account__container {
  display: flex;
  flex-direction: column;
  position: relative;

  .account__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-1;
    max-width: 384px;
    width: 100%;
    margin: 60px auto 0;
    padding: 40px 0 9px 0;

    text-align: left;
    font: normal normal 600 16px/32px $font-base;
    letter-spacing: 0;
    color: $color-5;
    opacity: 1;

    label {
      display: block;

    }

    .input__account {
      border: none;
      border-bottom: 1px solid $color-5;
      width: 250px;
      background: inherit;
      margin-bottom: 31px;
    }

  }

  .btn__box {
    margin: 40px auto;
    display: flex;
    max-width: 504px;
    width: 100%;
    justify-content: space-between;

    .btn__account {
      text-decoration: none;
      background: white;
      border: none;
      cursor: pointer;
      font: normal normal 300 18px/32px $font-base;
      letter-spacing: 0;
      color: $color-5;
      opacity: 1;
      padding: 13px 15px;
    }

    .center {
      margin: 0 auto
    }

    .frame {
      border: 0.75px solid $color-5
    }


  }
}