@import "./normalize.css";
@import "./settings/colors";
@import "./settings/fonts";

@import "components/navigation";
@import "components/accountManagement";

@import "components/common/buttons";
@import "components/common/decorations";
@import "components/common/images";
@import "components/common/infoBar";
@import "components/common/selectInput";
@import "components/common/organisationCheckbox";

@import "components/sections/aboutUs";
@import "components/sections/contact";
@import "components/sections/simpleSteps";
@import "components/sections/start";
@import "components/sections/threeColumns";
@import "components/sections/whoHelp";
@import "components/sections/oddajRzeczyIntro";
@import "components/sections/questionnaire";


* {
  box-sizing: border-box;
  transition-duration: 500ms;
}

.page__container {
  position: relative;
  border: black solid 1px;
}

.section__title {
  text-align: center;
  font: normal normal normal 38px/55px $font-base;
  letter-spacing: -0.76px;
  color: $color-5;
  opacity: 1;
  margin-bottom: 25px;
}

