.btn__link {
  display: block;
  text-decoration: none;
  font: normal normal 300 36px/45px $font-base;
  color: $color-5;
  opacity: 1;
  text-align: center;
  letter-spacing: 0;
  padding-top: 13px;
  height: 120px;
  width: 310px;
  border: 0.75px solid $color-5;
}